extends ../layouts/common

block content
    h1 user
        a.ml-2.btn.btn-primary(href="/user/post") new

    .d-flex.align-items-center
        
        form.ml-auto(action="/user/search",methor="GET")
            input(type="text" name='q')
            button.btn.btn-primary.ml-2 Search
    table.table
        tr
            th Name
            th Phone
            th Actions
        each us in user    
            tr
                td= us.name
                td= us.phone
                td
                    a.btn.btn-light(href="/user/"+ us.id) view